1.Two values of the boolen data types are True and False. We have to use capital T and F and with the rest of the word in lowercase. The type() of both False and True is bool. 
The type bool is built in, meaning it’s always available in Python and doesn’t need to be imported. However, the name itself isn’t a keyword in the language.
Example is given below:

In [1]:
a=True
b=False
print(a,type(a))
print(b,type(b))

True <class 'bool'>
False <class 'bool'>

2.  Boolean operators form the basis of mathematical sets and database logic. They connect our search words together to either narrow or broaden our set of results.The three differnt types of Boolean operators in python are:
    are, and, not.
Example is shown below:--

In [2]:
a=1000
b=2000
print(a>500 and b>1000) # Example of boolean and
print(a>200 or b>1000) # Example of boolean or
print(not(a>11)) # Example of boolean not

True
True
False

3. List of each Boolean operator's truth table:

 ##Truth Table for AND operator:
   
    True and True is True.

    True and False is False.

    False and True is False.

    False and False is False.
    
 ##Truth Table for or operator:
   
    True or True is True.

    True or False is True.

    False or True is True.

    False or False is False.
    
 ##Truth Table for not operator:
   
    not True is False.

    not False is True.

In [2]:
4.
print((5>4)and(3==5)) # False
print(not(5>4)) # False
print((5>4)or(3==5)) # True
print(not((5>4)or(3==5))) # False
print((True and True)and(True==False)) # False
print((not False)or(not True)) # True

False
False
True
False
False
True

5. The six comparison operators are :
    ==, !=, <, >, <=, and >=

6. "==" is the equal to operator that compares two values and evaluates to a Boolean, while "=" is the assignment operator that stores a value in a variable.
It is elaborated using the example below:--

In [3]:
b=10 # Assigning operator that stores 3 value in a variable a
if b==10:#comparing values of a varible value and 3
    print(b==3)

False

7.  In Python, code block refers to a collection of code that is in the same block or indent. This is most commonly found in classes, functions, and loops. Answer for the question is:

In [4]:
spam = 0  
if spam == 10:  
    print('eggs')  # block #1
if spam > 5:  
    print('bacon')  # block #2
else:  
    print('ham')  # block #3
print('spam')  
print('spam')

ham
spam
spam

In [37]:
8. ##The code is given below:
def code(spam):
    if spam == 1:
        print('Hello')
    elif spam == 2:
        print('Howdy')
    else:
        print('Greetings!')
code(6)
code(1)
code(2)

Greetings!
Hello
Howdy

9. To stop a program stuck in an infinite loop, we press CTRL-C

10. The break statement will move the execution outside the loop if break condtion is satisfied whereas the continue statement will move the execution to the start of the loop. Example of break and continue is mentioned below:

In [15]:
# Use of break statement inside the loop

for val in "spring":
    if val == "i":
        break
    print(val)

print("The end")

s
p
r
The end

In [38]:
# Program to show the use of continue statement inside loops


for val in "spring":
    if val == "i":
        continue
    print(val)

print("The end")

s
p
r
n
g
The end

11. The Differences are as follows:

    The range(10) call ranges from 0 to 9 (but not including 10), 
    range(0, 10) explicitly tells the loop to start at 0, and
    range(0, 10, 1) explicitly tells the loop to increase the variable by 1 on each iteration.
    
Each example is shown below :---

In [19]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [24]:
for i in range(0,10):
    print(i,end=" ")
print()

0 1 2 3 4 5 6 7 8 9

In [32]:
sum=0
for i in range(0,10,1):
    sum+=i
print("sum of numbers:",sum)

sum of numbers: 45

In [36]:
#12. the code is given below-
print("example using for loop:")
for i in range(1, 11):
    print(i,end=" ")
print("\n")
print("example using while loop:")
i = 1
while i <= 10:
    print(i,end=" ")
    i = i + 1

example using for loop:
1 2 3 4 5 6 7 8 9 10

example using while loop:
1 2 3 4 5 6 7 8 9 10

13. This function can be called using spam.bacon().